<a href="<%=href%>" class="acard" target="_blank" class='nohightlight' id="<%=id%>">
    <div class="card">
        <div class="thumbnail">
            <img src="<%=thumbnail%>" alt="thumbnail"/>
            <div class="page"><%=page%>P</div>
        </div>    
        <h3 class="title"><%=title%></h3>
        <table>
            <tbody>
                <% if(artists.length !== 0) { %>
                    <!--artist-->
                    <tr>
                        <td>작가 : </td>
                        <td><%-artists%></td>
                    </tr>
                <% } %>

                <% if(type.length !== 0) { %>
                    <!--type-->
                    <tr>
                        <td>종류 : </td>
                        <td><%-type%></td>
                    </tr>
                <% } %>

                <% if(characters.length !== 0) { %>
                    <!--characters-->
                    <tr>
                        <td>캐릭 : </td>
                        <td><%-characters%></td>
                    </tr>
                <% } %>

                <% if(original.length !== 0) { %>
                    <!--series-->
                    <tr>
                        <td>원작 : </td>
                        <td><%-original%></td>
                    </tr>
                <% } %>

                <% if(language.length !== 0) { %>
                    <!--characters-->
                    <tr>
                        <td>언어 : </td>
                        <td><%-language%></td>
                    </tr>
                <% } %>

                <tr>
                    <td>태그 : </td>
                    <td><%-tags%></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--개힘들다-->
</a>
